WCFProject/Northwind.WPFConsumer/Service References/NorthwindServiceClasses/NorthwindDataService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/NorthwindIISServiceHost/NorthwindDataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Northwind.WCFContracts.DataContract" />
  <xs:import schemaLocation="http://localhost/NorthwindIISServiceHost/NorthwindDataService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="SelectEmployeeById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectEmployeeByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Northwind.WCFContracts.DataContract" minOccurs="0" name="SelectEmployeeByIdResult" nillable="true" type="q1:NorthwindEmployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectEmployees">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectEmployeesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Northwind.WCFContracts.DataContract" minOccurs="0" name="SelectEmployeesResult" nillable="true" type="q2:ArrayOfNorthwindEmployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectProductById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectProductByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Northwind.WCFContracts.DataContract" minOccurs="0" name="SelectProductByIdResult" nillable="true" type="q3:NorthwindProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectProducts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Northwind.WCFContracts.DataContract" minOccurs="0" name="SelectProductsResult" nillable="true" type="q4:ArrayOfNorthwindProduct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectEmployeeTitles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectEmployeeTitlesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SelectEmployeeTitlesResult" nillable="true" type="q5:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectEmployeesByTitle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectEmployeesByTitleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Northwind.WCFContracts.DataContract" minOccurs="0" name="SelectEmployeesByTitleResult" nillable="true" type="q6:ArrayOfNorthwindEmployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Northwind.WCFContracts.DataContract" minOccurs="0" name="employee" nillable="true" type="q7:NorthwindEmployee" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertEmployeeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>