WCFProject/Northwind.WPFConsumer/Service References/NorthwindServiceClasses/NorthwindDataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NorthwindDataService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="netTCP_EndPoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/NorthwindIISServiceHost/NorthwindDataService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/NorthwindIISServiceHost/NorthwindDataService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/NorthwindIISServiceHost/NorthwindDataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Northwind.WCFContracts.DataContract" />
      <xsd:import schemaLocation="http://localhost/NorthwindIISServiceHost/NorthwindDataService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INorthwindServiceContract_SelectEmployeeById_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectEmployeeById" />
  </wsdl:message>
  <wsdl:message name="INorthwindServiceContract_SelectEmployeeById_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectEmployeeByIdResponse" />
  </wsdl:message>
  <wsdl:message name="INorthwindServiceContract_SelectEmployees_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectEmployees" />
  </wsdl:message>
  <wsdl:message name="INorthwindServiceContract_SelectEmployees_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="INorthwindServiceContract_SelectProductById_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectProductById" />
  </wsdl:message>
  <wsdl:message name="INorthwindServiceContract_SelectProductById_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectProductByIdResponse" />
  </wsdl:message>
  <wsdl:message name="INorthwindServiceContract_SelectProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectProducts" />
  </wsdl:message>
  <wsdl:message name="INorthwindServiceContract_SelectProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectProductsResponse" />
  </wsdl:message>
  <wsdl:message name="INorthwindServiceContract_SelectEmployeeTitles_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectEmployeeTitles" />
  </wsdl:message>
  <wsdl:message name="INorthwindServiceContract_SelectEmployeeTitles_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectEmployeeTitlesResponse" />
  </wsdl:message>
  <wsdl:message name="INorthwindServiceContract_SelectEmployeesByTitle_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectEmployeesByTitle" />
  </wsdl:message>
  <wsdl:message name="INorthwindServiceContract_SelectEmployeesByTitle_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectEmployeesByTitleResponse" />
  </wsdl:message>
  <wsdl:message name="INorthwindServiceContract_InsertEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertEmployee" />
  </wsdl:message>
  <wsdl:message name="INorthwindServiceContract_InsertEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertEmployeeResponse" />
  </wsdl:message>
  <wsdl:portType name="INorthwindServiceContract">
    <wsdl:operation name="SelectEmployeeById">
      <wsdl:input wsaw:Action="http://tempuri.org/INorthwindServiceContract/SelectEmployeeById" message="tns:INorthwindServiceContract_SelectEmployeeById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INorthwindServiceContract/SelectEmployeeByIdResponse" message="tns:INorthwindServiceContract_SelectEmployeeById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectEmployees">
      <wsdl:input wsaw:Action="http://tempuri.org/INorthwindServiceContract/SelectEmployees" message="tns:INorthwindServiceContract_SelectEmployees_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INorthwindServiceContract/SelectEmployeesResponse" message="tns:INorthwindServiceContract_SelectEmployees_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectProductById">
      <wsdl:input wsaw:Action="http://tempuri.org/INorthwindServiceContract/SelectProductById" message="tns:INorthwindServiceContract_SelectProductById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INorthwindServiceContract/SelectProductByIdResponse" message="tns:INorthwindServiceContract_SelectProductById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/INorthwindServiceContract/SelectProducts" message="tns:INorthwindServiceContract_SelectProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INorthwindServiceContract/SelectProductsResponse" message="tns:INorthwindServiceContract_SelectProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectEmployeeTitles">
      <wsdl:input wsaw:Action="http://tempuri.org/INorthwindServiceContract/SelectEmployeeTitles" message="tns:INorthwindServiceContract_SelectEmployeeTitles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INorthwindServiceContract/SelectEmployeeTitlesResponse" message="tns:INorthwindServiceContract_SelectEmployeeTitles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectEmployeesByTitle">
      <wsdl:input wsaw:Action="http://tempuri.org/INorthwindServiceContract/SelectEmployeesByTitle" message="tns:INorthwindServiceContract_SelectEmployeesByTitle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INorthwindServiceContract/SelectEmployeesByTitleResponse" message="tns:INorthwindServiceContract_SelectEmployeesByTitle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/INorthwindServiceContract/InsertEmployee" message="tns:INorthwindServiceContract_InsertEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INorthwindServiceContract/InsertEmployeeResponse" message="tns:INorthwindServiceContract_InsertEmployee_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttp_EndPoint" type="tns:INorthwindServiceContract">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SelectEmployeeById">
      <soap:operation soapAction="http://tempuri.org/INorthwindServiceContract/SelectEmployeeById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectEmployees">
      <soap:operation soapAction="http://tempuri.org/INorthwindServiceContract/SelectEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectProductById">
      <soap:operation soapAction="http://tempuri.org/INorthwindServiceContract/SelectProductById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectProducts">
      <soap:operation soapAction="http://tempuri.org/INorthwindServiceContract/SelectProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectEmployeeTitles">
      <soap:operation soapAction="http://tempuri.org/INorthwindServiceContract/SelectEmployeeTitles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectEmployeesByTitle">
      <soap:operation soapAction="http://tempuri.org/INorthwindServiceContract/SelectEmployeesByTitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertEmployee">
      <soap:operation soapAction="http://tempuri.org/INorthwindServiceContract/InsertEmployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="netTCP_EndPoint" type="tns:INorthwindServiceContract">
    <wsp:PolicyReference URI="#netTCP_EndPoint_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="SelectEmployeeById">
      <soap12:operation soapAction="http://tempuri.org/INorthwindServiceContract/SelectEmployeeById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectEmployees">
      <soap12:operation soapAction="http://tempuri.org/INorthwindServiceContract/SelectEmployees" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectProductById">
      <soap12:operation soapAction="http://tempuri.org/INorthwindServiceContract/SelectProductById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectProducts">
      <soap12:operation soapAction="http://tempuri.org/INorthwindServiceContract/SelectProducts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectEmployeeTitles">
      <soap12:operation soapAction="http://tempuri.org/INorthwindServiceContract/SelectEmployeeTitles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectEmployeesByTitle">
      <soap12:operation soapAction="http://tempuri.org/INorthwindServiceContract/SelectEmployeesByTitle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertEmployee">
      <soap12:operation soapAction="http://tempuri.org/INorthwindServiceContract/InsertEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NorthwindDataService">
    <wsdl:port name="BasicHttp_EndPoint" binding="tns:BasicHttp_EndPoint">
      <soap:address location="http://localhost/NorthwindIISServiceHost/NorthwindDataService.svc" />
    </wsdl:port>
    <wsdl:port name="netTCP_EndPoint" binding="tns:netTCP_EndPoint">
      <soap12:address location="net.tcp://pfgdsmspintst11.principalusa.corp.principal.com/NorthwindIISServiceHost/NorthwindDataService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://pfgdsmspintst11.principalusa.corp.principal.com/NorthwindIISServiceHost/NorthwindDataService.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Spn>host/PFGDSMSPINTST11.principalusa.corp.principal.com</Spn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>